.post-list {
    display: flex; 
    margin: 20px;
    height: 60vh;
    color: white;
}

.post-container {
    background-color: black;
    height: 100%; 
    padding: 20px;
    width: 20%;
    gap: 5%;
    text-align: center;
}

.post-image {
    width: 90%;
    object-fit: fill;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    color: white;
    background-color: darkslategray;
    width: 50%;
    height: 90vh;
    border-radius: 5em;
    margin: auto;
}

::-webkit-input-placeholder {
    color: honeydew;
}

.login-email, .login-password {
    width: 40%;
    padding: 10px;
    font-size: 15px;
    background-color: gray;
    color: white;
    font-weight: bolder;
}

.login-button {
    padding: 10px 25px;
    background-color: honeydew;
    font-weight: bolder;
}