/* Estilos comunes */
body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
    background: linear-gradient(180deg, #ebad67 ,#633b0e);
    height: 100vh;/* Color similar al fondo de la primera imagen */
    font-weight: bold;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}
.Back {
 position: relative;

}
a {
    text-decoration: none;
    color: black;
}
.circle {
    width: 40px;
    height: 40px;
    background-color: #F9F4C7; /* Color de fondo del círculo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000; /* Borde negro */
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 25px;
    transition: 0.2s;
}
.backC{
    cursor: pointer;
    
}
.backC:hover{

 scale: 1.1;
}


.header .title {
    font-size: 16px;
    text-align: center;
    
}
.underline {
    padding-bottom: 10px;
}
.header .title.underline {
    border-bottom: 2px solid #000;
    width: 160px;
}

.header .customize {
    font-size: 16px;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin:  0px 150px;
    margin-right: 250px;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    display: none;
}
.active {
    border-bottom: 2px solid #000;
    width: 140px;
    text-align: center;
}
.menu-item {
    color: black;
    font-size: 18px;
    position: relative;
}
/*
#Nombre,#apellido,#Mail,#pais-residencia {
    background-color: white 
}*/
.container {
    background-color: #FFFFE0;
    border: 2px solid #A07855;
    border-radius: 20px;
    padding: 20px 40px;
    margin: 50px auto;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.25)
}

.container h2 {
    text-align: left;
    font-size: 18px;
    margin-bottom: 10px;
}

h4 {
    position: relative;
    top: -4px;
}

.user-input {
    background-color: white !important;
    text-align: center;
    margin-left: 144px;
    width: 261px;
}
.user-input:hover{
    outline: 0.1px solid black;
}
.button-right{
    width: 280px;
    background-color: #DAA06D;
    transition: 0.2s;
}


button{
    background-color: #A07855 ;
    border: solid black 1px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.3s;
}
button:hover{
    background-color: #C78C5B;
    scale: 1.03;
}

 .container input {
    background-color: #A07855;
    border: solid black 1px;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: 0.2s;
}

 .container input:hover {
    background-color: #8B6145;
}

.raya {
    width: 200px;
    height: 4px;
    margin-bottom: 10px;
}

.container input[type="text"], .container input[type="button"] {
    width: calc(100% - 22px);
    margin-top: 5px;
    margin-bottom: 5px;
}

.LABEL {
    font-size: 12px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.info-group div {
    width: 32%; /* Ajustar ancho para tres columnas */
}

.info-group input {
    width: 100%;
    text-align: center;
}

.container .center-button {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    background-color: #DAA06D;
    margin-top: 23px;
}

.container .center-button:hover {
    background-color: #C78C5B;
}


input {
    cursor: default !important;
    color: wheat;
}

