body {
    background-color: #4c382e;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20pAx;
}







.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}


.tab {
    padding: 10px;
    border-bottom: 2px solid #333;
    font-weight: bold;
   
}


.active {
    border-bottom: 2px solid #fff;
    color: #fff;
}


.columns {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}


.column {
    width: 48%;
}


.card {
    background-color: #F9F4C7;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    position: relative;
    transition: 0.2s;
    cursor: pointer;
}
.card:hover {
    scale: 1.01;
    background-color: #fffdd0; 
}



.card img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 10px;
}


.card-info {
    flex-grow: 1;
}


.card-info p {
    margin: 0;
    font-weight: bold;
    color: #333;
}


.card-info span {
    font-size: 14px;
    color: #666;
}


.info-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    font-size: 20px;
    color: #333;
}





.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-bar input[type="text"] {
    width: 800px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.search-bar button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.Glass{
    position: relative;
    left: -44px;
    font-size: 150%;
transition: 0.2s;

}
.Glass:hover{
       
        scale: 1.1;
    
}

.SearchI{
    background-color: #fffdd0;
    height: 40%;
    margin-top: 6px;
transition: 0.1s;
}
.SearchI:hover{
    outline: 1px solid #F9F4C7;
}

.nav{
    display: flex;
}
#redirect-icon {
    cursor: pointer;
}

.circle {
    width: 40px; 
    height: 40px; 
    background-color: #F9F4C7; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #000; 
    margin-left: 10px;
    margin-right: 10px;
    color: black;
    font-size: 25px;
    transition: 0.2s;
}
.circle:hover {
    scale: 1.1 ;
}


a {
    text-decoration: none;
}
.inactive {
    margin-right: 80px;
}

.menu {
    display: flex;
    justify-content: space-between; 
    padding: 10px;
    padding: 0px 150px; 
    margin-bottom: 20px;
    display: none;

}

.menu-item {
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
}

.menu-item.active {
    border-bottom: 2px solid white; /* Subrayado en el elemento activo */
}
