* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f6f1e3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profile-card {
    background-color: #faf3d9;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    height: 85%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    
    height: 90px;
}


.profile-pic {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    margin-left: 15px;
}

h1 {
    font-size: 38px;
    color: #333;
    margin-left: 10px;
    flex-grow: 1;
    margin-left: 14%;
}

.follow-btn {
    background-color: #e0caa9;
    border: none;
    padding: 8px 40px;
    border-radius: 25px;
    font-size: 25px;
    border: 1px  solid#000;
    cursor: pointer;
    margin-right: 13.5%;
}

.tab-menu {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab-menu span {
    cursor: pointer;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: bold;
}

.tab-menu .active {
    font-weight: bold;
    border-bottom: 2px solid #333;
    width: 160px;
    text-align: center;
}

.info-grid {
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
  margin-left: 33%;
    margin-top: 5%;
    width: 60%;
}
.ALine,.BLine{
display: flex;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #F9F4C7; /* Color de fondo del círculo */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000; /* Borde negro */
    margin-left: 1px;
    margin-right: 10px;
    cursor: pointer;
    color: black;
    font-size: 10px;
}




.info-item {
    background-color: #e0caa9;
    padding: 10px;
    border: 0.5px solid #000;
    border-radius: 20px;
    width: fit-content;
    margin: 10px;
    height: fit-content;
    
}
.info-item strong {
    display: flex;
    padding-right:5px;
}

.LastPart {
    display: flex;
    
}



.info-grid {
    scale: 1.5;
}

.contact-btn {
    background-color: #e0caa9;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 70px;
}

.CLine {
    display: flex;
    
}

.ContactB {
margin-left: 120px ;
}

.ContactB strong {
    padding-right:10px ;
}
