* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(180deg, #be7a2b ,#3f2910);
}

.container {
    display: flex;
    width: 80%;
    height: 80%;
    max-width: 800px;  
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .7 );
    overflow: hidden;
    background-color: white;
}
.back-button{
    font-size: 30px;
    position: relative;
    left: -155px;
    top: -35px;
    cursor: pointer;
    transition: 0.2s;
}
.back-button:hover{
    scale: 1.1;
}

.left, .right {
    padding: 20px;
    flex: 1;
}

.left {
    justify-content: center;
    border-radius: 10px 0 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: 2px solid black;
}
.right{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}

.image-preview {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:20px ;
    background-color: #d9a96a;
    border-radius: 65px;
    width: 95%;
    border: 2px solid black;
    justify-content: space-between;
}
.plantillaImagen{
    width: 200px ;
    height: 170px;
    margin-left: 18px;


}
.im1{
    margin-bottom: 40px;
}
.img2{
    
    margin-right: 85px;
}

.image-preview img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    left: 60px;
    border: 2px solid black;
}

.image-preview .close-icon {
    font-weight: bold;
    color: #000;
    border-radius: 50%;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    display: flex;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: relative;
    top: -25px;
    left: -20px;
    transition: 0.2s;
    cursor: pointer;
}
.close-icon:hover{
    scale: 1.1;
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-icon {
    font-size: 16px;
    color: black;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    
    background-color: #c28f5e;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 10px;
    transition: 0.2s;
}
.upload-icon:hover{
    scale: 1.035;
    background-color: #ecc48e;
}

.upload-button {
    background-color: #c28f5e;
    padding: 10px 35px;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
    
}

.upload-button:hover {
    background-color: #ecc48e;
    scale: 1.03;

}

.title {
    font-size: 16px;
    font-weight: bold;
}

/* Estilos adicionales para ocultar el input de archivo */
input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

label {
    cursor: pointer;
}
